#IML_CONFIG
[SystemSettings]
#device used for diag port
diag_port=/dev/imldev0
#device used for diag uart tty
diag_uart=/dev/ttyS1
#device used for diag usb tty
diag_usb=/dev/ttydiag0
#device used for diag usb key
diag_usb_key=diag
#output logcat message
logcat_enable=0
#Default Media: 0-off 1-sd 2-ddr
default_media=0
#Write Cache Size in KBytes
cache_size=1024
#Marvell Platform Indicator mrvl = 1(default), 0
mrvl=1

[SDSettings]
#Maximum Log File Number
max_log_num=5
#Current Folder Number
folder_num=0
#Auto Increment Folder Number on Startup
auto_inc=0
#Log File Size in MBytes
log_size=50
#SD mode mount point
mount_path=/mnt/shell/emulated
#SD mode directory
log_path=/sdcard

[BootLogSettings]
#Enable Boot log in SD mode
enable=0
#Maximum Boot Log File Number
max_log_num=5
#Log File Size in MBytes
log_size=10
#Boot log directory
log_path=/data/acat

[NetworkSettings]
#net interface name
diag_net_dev=rndis0
#ACAT IP address
acat_ip=192.168.1.100
#DIAG IP address
diag_ip=192.168.1.101
#diag netmask
diag_netmask=255.255.255.0
#Network port
port=12345
